.item {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.item__left-side {
  display: flex;
  gap: 20px;
  align-items: center;
}

.item__right-side {
  display: flex;
  gap: 20px;
  align-items: center;
}

.item__name,
.item__type,
.item__doc,
.item__cr {
  margin: 0;
}
