.item {
  width: 100%;
  margin-bottom: 10px;
}

.item__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 20px;
  cursor: pointer;
}

.item__left-side {
  display: flex;
  gap: 20px;
  align-items: center;
}

.item__right-side {
  display: flex;
  gap: 20px;
  align-items: center;
}

.item__add-btn {
  background-image: url(../../images/add-icon.svg);
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.item__add-btn:hover {
  opacity: 0.7;
}

.item__expand {
  max-height: 0;
  overflow: hidden;
  background-color: #dddddd;
  color: black;
  transition: max-height 0.5s ease, padding 0.5s ease;
}

.item__expand_expanded {
  max-height: 1000px;
  padding: 10px;
}

.item__stat-section {
  display: flex;
  gap: 8px;
  flex-direction: column;
  border-bottom: 1px solid #000000;
  padding: 8px 0;
}

.item__stat-section:first-child {
  border-top: 1px solid #000000;
}

.item__stat {
  padding-left: 100px;
}

.item__stat_indent {
  padding-left: 120px;
}

.item__name,
.item__type,
.item__doc,
.item__cr,
.item__stat {
  margin: 0;
}

.item__description {
  margin-bottom: 10px;
}
