.preloader {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader__spinner {
  display: block;
  width: 100px;
  height: 100px;
  border: 10px solid #ffffff;
  border-bottom-color: #888;

  border-radius: 50%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
